<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Text Classifier</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>    
    <!-- Navigation Bar -->
    <header>
        <nav>
            <div class="logo-container">
                <img src="/static/images/DALL·E 2024-11-27 09.44.38.png" alt="Logo" class="logo">
                <h1>Research Paper Abstract Classifier</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin Panel</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>About this Research Paper Abstract Classifier</h1>

        <p>
            This website is part of a project for the Natural Language Processing class from the Master of Data Science at the University of Luxembourg.
            This website aims at classifiing research paper abstracts into categories based on a NLP Machine Learning model
            trained on various academic papers. The user inputs an abstract, and the system predicts the category it
            belongs to.
        </p>

        <h2>How it Works:</h2>
        <ul>
            <li>The user enters an abstract text into the form.</li>
            <li>The system processes the text using a pre-trained vectorizer and model.</li>
            <li>The predicted category is displayed on the home page.</li>
        </ul>

        <p>
            This website is built using Flask, while the model is mostly built with Scikit-learn.
        </p>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Islam Ali, Shuchao Cui, Apoorv Dhyani, Clara Duchossois, Merwa Tariq</p>
        <a href="https://github.com/doubavitch/Text-Classification-and-Tagging-System-" 
           target="_blank" 
           class="github-icon">
            <i class="fab fa-github"></i> GitHub
        </a>
    </footer>
</body>
</html>
